* {
    padding: 0;
    margin: 0;   
    /* font-family: 'Roboto', sans-serif;   */
    /* font-family: 'Montserrat', sans-serif; */
    
}
/* Background colors */
.bg-body {
  /* background: linear-gradient(45deg, #252525, #0f0f0f); */
  /* background: linear-gradient(to bottom, #333, #fff); */
  background: linear-gradient(to left, #242947, #686778);
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}

.bg-nav {
  background: linear-gradient(to right, #242947, #686778);
  animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.Montserrat-Subrayada {
  font-family: Montserrat Subrayada, sans-serif;
}

.pixelify {
    font-family: 'Pixelify Sans', sans-serif;
}

/* CSS for Landing Page Start */
  /* For laptop view */
  @media (min-width: 1024px) {
    .bg-landing {
      min-height: 100vh; /* Set the minimum height for the background */
      background-color: gray;
      background-image:  url(./images/Mypics/bg-for-landing.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed ;
    }

    .container-bg-landing {
      min-height: 100vh; /* Set the minimum height for the container */
      background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-title {
      font-size: 5em;
      line-height: 10rem;
    }
  }

  /* For tablet view */
  @media (min-width: 768px) and (max-width: 1023px) {
    .bg-landing {
      min-height: 35vh; /* Adjust the background height as needed */
      background-color: gray;
      background-image:  url(./images/Mypics/bg-for-landing.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed ;
    }

    .container-bg-landing {
      min-height: 35vh; /* Adjust the container height as needed */
      background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-title {
      font-size: 3em; /* Adjust font size */
      line-height: 5rem; /* Adjust line height */
    }

    .nav-ul {
      color:#333;
    }
  }

  /* For phone view */
  @media (max-width: 767px) {
    .bg-landing {
      min-height: 50vh; /* Adjust the background height as needed */
      background-size: cover; /* Adjust the background size */
      background-color: gray;
      background-image:  url(./images/Mypics/bg-for-landing.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed ;
    }

    .container-bg-landing {
      min-height: 50vh; /* Adjust the container height as needed */
      background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-title {
      font-size: 2em; /* Adjust font size */
      line-height: 3.5rem; /* Adjust line height */
    }
  }
/* CSS For Landing Page End */

/* Button to be used Start  */
.button-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsla(210, 22%, 9%, 0.634) 7px 7px 7px 7px;
    background-color: hsla(0, 0%, 67%, 0.083);
    border-radius: var(--bs-border-radius-xl) !important;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
   .button-home:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
   }
   
   .button-home:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   
   .button-home:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   
   .button-home i {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
    padding-left: 25px;
    padding-right: 25px;
   }

   /* For phone view Landing */
  @media (max-width: 767px) {
    .button-home i {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1px;
      font-style: normal;
      transition: all 2s ease;
      transform: translateY(-20px);
      opacity: 0;
      padding-left: 0;
      padding-right: 0;
     }
  }

   .button-home:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   
   .button-home:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   
   .button-home:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   
   .button-home:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   
   .button-home:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   
   .button-home:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 6);
   }
   
   .button-home:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 7);
   }
/* Button to be used end */

/* image logo Start */
.mylogo {
  width: fit-content;
}
/* image logo End */

/* About Education Start */
 /* For laptop view */
 @media (min-width: 1024px) {
   .about-educ-desc {
    line-height: 2rem;
    height: 100vh;
  }
}

/* For tablet view */
@media (min-width: 768px) and (max-width: 1023px) {
  
}

/* For phone view */
@media (max-width: 767px) {
  
}
/* About Education End */

/* CSS for Ministry Page Start***************************************** */
  /* For laptop view */

  @media (min-width: 1024px) {

    .bg-ministry {
      min-height: 75vh; /* Set the minimum height for the background */
      background-color: gray;
      background-image:  url(./images/Mypics/ministry.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed ;
      border-radius: var(--bs-border-radius-xl) !important;
    }

    .container-bg-ministry {
      min-height: 75vh; /* Set the minimum height for the container */
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: var(--bs-border-radius-xl) !important;
    }

    .text-ministry {
      font-size: 1.5em;
      line-height: 35px;
      padding-top: 1rem;
    }
  }

  /* For tablet view */
  @media (min-width: 768px) and (max-width: 1023px) {
    .bg-ministry {
      min-height: 35vh; /* Adjust the background height as needed */
      background-color: gray;
      background-image:  url(./images/Mypics/ministry.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .container-bg-ministry {
      min-height: 35vh; /* Adjust the container height as needed */
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom-right-radius: var(--bs-border-radius-xl) !important;
      border-bottom-left-radius: var(--bs-border-radius-xl) !important;
    }

    #ul-ministry {
      font-size: 20px; /* Adjust font size */
      line-height: 1.5rem; /* Adjust line height */
    }

  }

  /* For phone view */
  @media (max-width: 767px) {
    .bg-ministry {
      min-height: 25vh; /* Adjust the background height as needed */
      background-size: cover; /* Adjust the background size */
      background-color: gray;
      background-image:  url(./images/Mypics/ministry.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .container-bg-ministry {
      min-height: 25vh; /* Adjust the container height as needed */
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom-right-radius: var(--bs-border-radius-xl) !important;
      border-bottom-left-radius: var(--bs-border-radius-xl) !important;
    }
    #ul-ministry {
      display: none;
    }

  }
/* CSS For Ministry Page End **************************************** */

/* CSS for Nav */
.w-15 {
  width: 15% !important;
}
 
/* CSS for About */
#educ-desc ul li {
    text-decoration: none;
}

/* project start */
 
/* project end */

/* CSS for tools */
.card {
    position: absolute;
    width: 250px;
    height: 400px;
    background: linear-gradient(-45deg, #4b5076 0%, #979aac 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);    
    max-width: 100%;
  }
  
  .card img {
    width: 150px;
    height: 150px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(255, 252, 252, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
  }
  
  .card__description {
    margin: 5px 0 0;
    font-size: 17px;
    color: #2f3454;
    line-height: 1.4;
  }

  .card__quote {
    color: #d5d8ea;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .card:hover > img {
    scale: 0;
    transform: rotate(-45deg);
  }



  /* Tool */

/* Video Container */
.video-container {
  display: flex;
  justify-content: space-between;
}

/* Video Frame */
.video-frame {
  flex: 1;
  position: relative;
  width: 45%; /* Adjust the width as needed */
  padding-bottom: 0; /* Remove inline style */
  overflow: hidden;
  margin-right: 5px; /* Add spacing between the videos */
}

/* Video Iframe */
.vid-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 177%;
}

/* Contact Form Start */
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#b7b5d4, #565865) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #686778;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #686778;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
/* Contact Form End */

/* Contact Info Start */
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px #686778;
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}

/* Contact Info End */